---
interface Button {
    text: string;
    link: string;
    target?: string;
}

interface Props {
    title: string;
    description: string;
    buttons?: Button[];
}

const { title, description, buttons = [] } = Astro.props;
---

<article class="card">
    <div class="card-body">
        <h3 class="card-title">{title}</h3>
        <p class="card-description">{description}</p>
    </div>
    {
        buttons.length > 0 && (
            <div class="button-group">
                {buttons.map((button) => (
                    <a
                        href={button.link}
                        class="button"
                        target={button.target}
                        rel={button.target === "_blank" ? "noreferrer" : undefined}
                    >
                        {button.text}
                    </a>
                ))}
            </div>
        )
    }
</article>

<style>
    .card {
        border: 1px solid var(--link-underline-color);
        border-radius: var(--radius);
        padding: var(--space-2);
        display: flex;
        flex-direction: column;
        gap: var(--space-2);
        height: 100%;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        gap: var(--space-1);
    }

    .card-title {
        margin: 0;
        font-size: 1.1rem;
    }

    .card-description {
        margin: 0;
        flex-grow: 1;
        color: var(--muted-color);
    }

    .button-group {
        display: flex;
        gap: var(--space-1);
        flex-wrap: wrap;
    }
</style>
